
*.ipynb

*.pyc

*.npy

*.avi
*.pth
seq-learning-basic/results/Att.txt
*.pdf
*.pt
*.pt
*.pt
seq-learning-basic/results/cnn_results.txt
seq-learning-basic/results/lstm.txt
seq-learning-char/tinyshakespeare.txt
.DS_Store
